{% extends 'base.html' %}

{% block content %}
{%load static %}
<section class="breadcrumb-section set-bg" data-setbg="{%static 'img/breadcrumb-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Update your profile</h2>
                    <div class="bt-option">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="">Trainers</a>
                        <span>Trainer Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="p-3 bg-dark text-white">
                {% csrf_token %}
                <div class="mb-3">
                    {{ profile_form.full_name.label_tag }}
                    {{ userprofile.full_name }}
                </div>
                <div class="mb-3">
                    {{ profile_form.age.label_tag }}
                    {{ userprofile.age }}
                </div>
                <div class="mb-3">
                    {{ profile_form.profile_picture.label_tag }}
                    {{ userprofile.profile_picture }}
                </div>
                <div class="mb-3">
                    {{ profile_form.height.label_tag }}
                    {{ userprofile.height }}
                </div>
                <div class="mb-3">
                    {{ profile_form.weight.label_tag }}
                    {{ userprofile.weight }}
                </div>
                <div class="mb-3">
                    {{ profile_form.address.label_tag }}
                    {{ userprofile.address }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="p-3 bg-dark text-white">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}