{% extends 'base.html' %}

{% block content %}
{%load static %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{%static 'img/breadcrumb-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Subscription detail</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="">Classes</a>
                        <span>subsciption details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>











<section class="class-timetable-section class-details-timetable spad">
    <div class="container">


        <div class="row">
            <div class="col-md-6">
                <div class="cd-trainer-pic">
                    <img src="{{ trainer.profile_pictures.url }}" alt="">
                    <h5 class="text-white text-center"> TRAINER IMAGES</h5class>
                    </h5>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-warning">YOUR DETAILS </a>
                <form action="{% url 'enrolled'%}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control" name="user" value="{{ user.username }}" readonly
                            required>
                    </div>
                    <div class="form-group item danger">
                        <input type="text" class="form-control mt-2" value="{{ trainer.username }}" readonly required>
                        <input type="hidden" name="trainer" value="{{ trainer.id }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" value="{{ trainer.specialized_course }}"
                            name=" course " readonly required>
                    </div> <select class="form-control mt-2" id="gender" name="gender" required>
                        <option selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                   
                    <div class="form-group">
                        <select class="form-control mt-2" id="member" name="member" required>
                            <option selected disabled>Select Membership Plan</option>
                            {% for p in plan %}
                            <option value="{{ p.id }} ">{{ p.plan }} - {{ p.price }} Rs</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" name="reference" placeholder="Refered By" />
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-warning" type="submit">Pay Now</button>
                    </div>
                </form>
            </div>
           

            
            
            
            
        </div>
    </div>
</section>{% endif %}
<!-- Class Timetable Section End -->
{% endblock %}