{% extends 'base.html' %}

{% block content %}
{%load static %}
<section class="breadcrumb-section set-bg" data-setbg="{%static 'img/breadcrumb-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Update profile</h2>
                    <div class="bt-option">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="">Trainers</a>
                        <span>Trainer Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<head>
    <title>Trainer Profile Form</title>
</head>
<body>
    <h1>Trainer Profile Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>




{% endblock %}